.search-bar {
  padding: 15px 25px;
  position: relative;
}

.search-bar input {
  width: 100%;
  padding: 5px 17px;
  /* box-sizing을 통한 조절이 없다면, 오른쪽으로 밀려나게됨. padding-left 수만큼. */
  box-sizing: border-box;
  border-radius: 5px;
  border: 0;
  background-color: #f1f2f3;
  font-size: 13px;
  text-align: center;
}

/* .search-bar input::placeholder {text-align: center;
} */

.search-bar input:focus {
  outline: none;
}

.search-bar i {
  position: absolute;
  color: #bbbbbb;
  top: 22px;
  left: 40px;
}